.slick-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  min-height: 120px;
}
.slick-container {
  width: 70%;
  max-width: 80%;
}

.logo-image {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
.slick-item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.slick-prev:before {
  color: black;
  width: 30px;
  height: 30px;
}
.slick-next:before {
  color: black;
  width: 30px;
  height: 30px;
}
.story-username {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #262626;
  margin: 4px 0 0 0;
}
.stories-failure-container {
  background: #ffffff;
  min-height: 20vh;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-top: 40px;
}
.stories-failure-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}
.stories-failure-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin: 0 0 16px 0;
}
.stories-try-again-button {
  width: 102px;
  height: 32px;
  background: #4094ef;
  border-radius: 8px;
  padding: 8px 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
  cursor: pointer;
}
